.idea
*.o
*.lo
src/mecab-0.996/Makefile
src/mecab-0.996/autom4te.cache/*
src/mecab-0.996/config.h
src/mecab-0.996/config.log
src/mecab-0.996/config.status
src/mecab-0.996/doc/Makefile
src/mecab-0.996/libtool
src/mecab-0.996/man/Makefile
src/mecab-0.996/mecab-config
src/mecab-0.996/mecab.iss
src/mecab-0.996/mecabrc
src/mecab-0.996/nbproject/*
src/mecab-0.996/src/.libs/*
src/mecab-0.996/src/Makefile
src/mecab-0.996/src/Makefile.msvc
src/mecab-0.996/src/libmecab.la
src/mecab-0.996/src/mecab
src/mecab-0.996/src/mecab-cost-train
src/mecab-0.996/src/mecab-dict-gen
src/mecab-0.996/src/mecab-dict-index
src/mecab-0.996/src/mecab-system-eval
src/mecab-0.996/src/mecab-test-gen
src/mecab-0.996/stamp-h1
src/mecab-0.996/tests/Makefile
